
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/kotlin-usersdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # для разработки: автоматически подстраиваем БД под сущности
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      INDENT_OUTPUT: true

# Setting up server (by default Spring Boot runs on port 8080, but we can specify it explicitly)
server:
  port: 8080

